[submodule "ASIHTTPRequest"]
	path = ASIHTTPRequest
	url = git://github.com/pokeb/asi-http-request.git
[submodule "TouchCustoms"]
	path = TouchCustoms
	url = git://github.com/nesterow/TouchCustoms.git
